.TodoForm {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  &__input {
    font-size: 1.8rem;
    padding: .25rem;
  }
  &__button {
    margin-left: .25rem;
    font-size: 1.8rem;
    padding: .25rem;
    cursor: pointer;
  }
}
